@charset "UTF-8";
/* Fonts*/

	body {
		background-color:#fff;
		color: #666;
		font-family: "Raleway", Arial, Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 400;
		line-height: 2em;
	}

	a {
		text-decoration: underline;
		color: #f32853;
	}

		a:hover {
			text-decoration: none;
		}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #484848;
		font-weight: 700;
		line-height: 1em;
		margin: 0 0 1em 0;
		text-transform: uppercase;
	}


	h2 {
		font-size: 1.75em;
		line-height: 1.5em;
	}

	h4 {
		font-size: 1.1em;
		line-height: 1.5em;
	}

/* List formats */

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

	ul li {
		padding-left: 0.5em;
	}

	section{
		text-align: center;
	}

	#two {
		padding-left: 10rem;
		padding-right: 10rem;
		padding-bottom: 10rem;
		background-color:rgba(238, 195, 195, 0.3);
	  }
	
	  @media screen and (max-width: 736px) {

		#two {
			padding-left: 3rem;
			padding-right: 3rem;
			padding-bottom: 3rem;
			background-color:rgba(238, 195, 195, 0.3);
		  }

	} 
	
	mark {
	background-color: rgba(236, 65, 122, 0.5);
	color: rgb(238, 230, 230);
	}
	  
	  

	header p {
		color: #aaa;
		position: relative;
		margin: 0 0 1.5em 0;
		text-transform: uppercase;
	}

	.row > * {
		padding: 0 0 0 4em;
		width: 50%;
	}

	ul.icons li {
		display: inline-block;
		padding: 0 1em 0 0;
	}

	ul.icons li:last-child {
		padding-right: 0;
	}

	ul.icons li .icon:before {
		font-size: 2em;
	}

	ul.actions {
		cursor: default;
		list-style: none;
		padding-left: 0;
	}

/* Banner */

	body.is-touch #banner {
		background-attachment: scroll;
	}

	#banner {
		padding: 16em 0 13em 0;
		background-attachment: fixed;
		background-image: url("formats/images/overlay.png"), url("image_files/animal_crossing_bg3.jpg");
		background-position: center top;
		background-size: cover;
		line-height: 1.75;
		text-align: center;
	}

	#banner:last-child {
		margin-bottom: 0;
	}

	#banner h2 {
		color: #ffffff;
		display: inline-block;
		font-size: 3.5em;
		line-height: 1.35;
		margin-bottom: 0.5em;
	}

	#banner p {
		color: #aaa;
		font-size: 1.5em;
		margin-bottom: 1.75em;
		text-transform: uppercase;
	}


	@media screen and (max-width: 736px) {

		#banner {
			padding: 6em 2em 6em 2em;
		}

			#banner h2 {
				font-size: 2.25em;
			}

			#banner p {
				font-size: 1.25em;
			}

	}

/* Containers */

	.container {
		margin-left: auto;
		margin-right: auto;
	}

	.container.\31 25\25 {
		width: 100%;
		max-width: 100em;
		min-width: 80em;
	}		

/* Section Four */

	.wrapper {
		padding: 6em 0 4em 0;
	}

	.wrapper.s2 {
		background-attachment: fixed;
		background-image: url("formats/images/overlay.png"), url("image_files/animal_crossing_bg1.jpg");
		background-position: center center;
		background-size: cover;
	}

	.wrapper.s2 header.major {
		margin-bottom: 3em;
	}

	.wrapper.s2 header.major h2 {
		color: #fae7e7;
	}


	@media screen and (max-width: 980px) {

		.wrapper {
			padding: 4em 0 2em 0;
		}

	}

/* Cards */

	.feature-grid {
		position: relative;
	}

	.feature-grid:after {
		clear: both;
		content: '';
		display: block;
	}

	.feature-grid .feature {
		display: inline-block;
		float: left;
		margin-bottom: 3em;
		width: 50%;
	}

	.feature-grid .feature .content {
		width: 60%;
	}

	.feature-grid .feature .image {
		width: 30%;
	}

	.feature-grid .feature .image img {
		display: inline;
		max-width: 100%;
	}

	.feature-grid .feature:nth-child(odd) .content, .feature-grid .feature:nth-child(odd) .image {
		float: right;
		margin-right: 5%;
		text-align: right;
	}

	.feature-grid .feature:nth-child(even) .content, .feature-grid .feature:nth-child(even) .image {
		float: left;
		margin-left: 5%;
		text-align: left;
	}

	@media screen and (max-width: 1280px) {

		.feature-grid .feature {
			margin-bottom: 2em;
		}

	}

	@media screen and (max-width: 980px) {

		.feature-grid .feature {
			display: block;
			width: 100%;
		}

		.feature-grid .feature .content {
			width: 65%;
		}

		.feature-grid .feature .image {
			margin-left: 0 !important;
			margin-right: 0 !important;
		}

	}

	@media screen and (max-width: 736px) {

		.feature-grid .feature {
			margin-bottom: 1em;
		}

	}

	@media screen and (max-width: 480px) {

		.feature-grid .feature .content,
		.feature-grid .feature .image {
			display: block;
			margin-left: 0 !important;
			margin-right: 0 !important;
			text-align: center !important;
			width: 100%;
		}

		.feature-grid .feature .image {
			margin-bottom: 1em;
		}

	}

		

/* Image */

	.image {
		border-radius: 4px;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 4px;
			display: block;
		}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

		.image.fit img {
			width: 100%;
		}

		.image.rounded {
			border-radius: 100%;
		}

		.image.rounded img {
			border: solid 0.5em rgba(144, 144, 144, 0.25);
			border-radius: 100%;
		}

		.image.captioned {
			border-radius: 0;
			margin-bottom: 4em;
		}


		.image.captioned h3 {
			background-color: #fff;
			box-shadow: 0px 0.0375em 0.125em 0px rgba(0, 0, 0, 0.15);
			display: block;
			padding: 2em 1em;
		}


/* Footer */
	#footer .icons {
		font-size: 1.5em;
		position: center;
		height: 20px;
	}

	#footer .icons li {
		padding-right: 1.5em;
	}

	#footer .icons li:last-child {
		padding-right: 0;
	}

	#footer .icons a {
		-moz-transition: color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out;
		color: #f32853;
		text-decoration: none;
	}

	#footer .icons a:active, #footer .icons a:hover {
		color: rgb(121, 9, 9);
	}

	


