@charset "UTF-8";
/* Fonts*/

	body {
		background-color:#fff;
		color: #666;
		font-family: "Raleway", Arial, Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 400;
		line-height: 2em;
	}


	a:hover {
		text-decoration: none;
		text-decoration: underline;
	}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #484848;
		font-weight: 700;
		line-height: 1em;
		margin: 0 0 1em 0;
		text-transform: uppercase;
	}


	h2 {
		font-size: 1.75em;
		line-height: 1.5em;
	}

	h4 {
		font-size: 1.1em;
		line-height: 1.5em;
	}

/* List formats */

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

	ul li {
		padding-left: 0.5em;
	}

	section{
		text-align: center;
	}


	#two {
		padding-left: 10rem;
		padding-right: 10rem;
		padding-bottom: 10rem;
		background-color:rgba(238, 195, 195, 0.3);
	  }
	
	  @media screen and (max-width: 736px) {

		#two {
			padding-left: 3rem;
			padding-right: 3rem;
			padding-bottom: 3rem;
			background-color:rgba(238, 195, 195, 0.3);
		  }

	} 

	.d-block {
		opacity: 0.8;
	}

	
	mark {
	background-color: rgba(146, 52, 84, 0.5);
	color: rgb(231, 224, 224);
	}
	  
	  

	header p {
		color: rgb(139, 137, 137);
		position: relative;
		margin: 0 0 1.5em 0;
	}


	ul.icons li {
		display: inline-block;
		padding: 0 1em 0 0;
	}

	ul.icons li:last-child {
		padding-right: 0;
	}

	ul.icons li .icon:before {
		font-size: 2em;
	}

	ul.actions {
		cursor: default;
		list-style: none;
		padding-left: 0;
	}

/* Banner */

	body.is-touch #banner {
		background-attachment: scroll;
	}
	
	#banner button{
		background-color:  rgba(189, 13, 51, 0.877);
	}

	#banner {
		padding: 16em 0 13em 0;
		background-attachment: fixed;
		background-image: url("formats/images/overlay.png"), url("image_files/animal_crossing_bg3.jpg");
		background-position: center top;
		background-size: cover;
		line-height: 1.75;
		text-align: center;
	}

	#banner:last-child {
		margin-bottom: 0;
	}

	#banner h2 {
		color: #ffffff;
		display: inline-block;
		font-size: 3.5em;
		line-height: 1.35;
		margin-bottom: 0.5em;
	}

	#banner p {
		color: #aaa;
		font-size: 1.5em;
		margin-bottom: 1.75em;
		text-transform: uppercase;
	}


	@media screen and (max-width: 736px) {

		#banner {
			padding: 6em 2em 6em 2em;
		}

			#banner h2 {
				font-size: 2.25em;
			}

			#banner p {
				font-size: 1.25em;
			}

	}
	
/* Section Four */

	.wrapper {
		padding: 6em 0 4em 0;
	}

	.wrapper.s2 {
		background-attachment: fixed;
		background-image: url("formats/images/overlay.png"), url("image_files/animal_crossing_bg1.jpg");
		background-position: center center;
		background-size: cover;
	}

	header.major {
		margin-top: 2em;
		margin-bottom: 3em;
	}

	.wrapper.s2 header.major h2 {
		color: #fae7e7;
	}


	@media screen and (max-width: 980px) {

		.wrapper {
			padding: 4em 0 2em 0;
		}

	}

/* Cards */

	.card{
		padding: 0 0 4em 0;
		border-top: none;
		border-width: thick;
		border-color: rgba(238, 195, 195, 0.3);
		transition:0.5s;
		cursor:pointer;
		background-color:  rgba(238, 195, 195, 0.3);
	  }

	  .card:hover{
		transform: scale(1.05);
		box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
	  }
	  
	  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
		transform: scale3d(1, 1, 1);
	  }



/* Footer */
	#footer .icons {
		font-size: 1.5em;
		position: center;
		height: 20px;
	}

	#footer .icons li {
		padding-right: 1.5em;
	}

	#footer .icons li:last-child {
		padding-right: 0;
	}

	#footer .icons a {
		-moz-transition: color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out;
		color: #f32853;
		text-decoration: none;
	}

	#footer .icons a:active, #footer .icons a:hover {
		color: rgb(121, 9, 9);
	}


	


