/* FontAwesome for working BootSnippet :> */

@charset "UTF-8";

/* Fonts*/

	body {
		background-color:#fff;
		color: #666;
		font-family: "Raleway", Arial, Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 400;
		line-height: 2em;
	}

	a:hover {
		text-decoration: none;
		text-decoration: underline;
	}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #484848;
		font-weight: 700;
		line-height: 1em;
		margin: 0 0 1em 0;
		text-transform: uppercase;
	}

	h2 {
		font-size: 1.75em;
		line-height: 1.5em;
	}

	h4 {
		font-size: 1.1em;
		line-height: 1.5em;
	}

/* List formats */

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

	ul li {
		padding-left: 0.5em;
	}

	section{
		text-align: center;
	}

	#one{
		background-color:rgba(238, 195, 195, 0.3);
	}

	#three {
		padding-left: 10rem;
		padding-right: 10rem;
		padding-bottom: 10rem;
		background-color:rgba(238, 195, 195, 0.3);
	  }
	
	  @media screen and (max-width: 736px) {

		#three {
			padding-left: 3rem;
			padding-right: 3rem;
			padding-bottom: 3rem;
			background-color:rgba(238, 195, 195, 0.3);
		  }

	}
	    
	header p {
		color: #aaa;
		position: relative;
		margin: 0 0 1.5em 0;
		text-transform: uppercase;
	}

	ul.icons li {
		display: inline-block;
		padding: 0 1em 0 0;
	}

	ul.icons li:last-child {
		padding-right: 0;
	}

	ul.icons li .icon:before {
		font-size: 2em;
	}

	ul.actions {
		cursor: default;
		list-style: none;
		padding-left: 0;
	}

/* Banner */

	.banner h2 {
		color: #ffffff;
		display: inline-block;
		font-size: 2.5em;
		line-height: 1.35;
		margin-bottom: 0.5em;
	}

	.banner p {
		color: #aaa;
		font-size: 1em;
		margin-bottom: 1em;
		text-transform: uppercase;
	}

	.banner {
		position: relative;
		background-color: rgb(248, 248, 248);
		height: 50vh;
		min-height: 30rem;
		width: 100%;
		overflow: hidden;
	  }

	.banner video {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		-ms-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	  }
	  
	  .banner .container {
		position: relative;
		z-index: 2;
	  }
	  
	  .banner .overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: black;
		opacity: 0.3;
		z-index: 1;
	  }

	@media screen and (max-width: 736px) {
		.banner {
			padding: 6em 2em 6em 2em;
		}
		.banner h2 {
			font-size: 1.25em;
		}
	}

	.banner button{
		background-color: transparent;
		width: 10rem;
		height: 10rem;
		border-color: rgba(236, 228, 231, 0.5);
		border-width: 10px;
	}

	.wrapper {
		padding: 6em 0 4em 0;
	}


	@media screen and (max-width: 980px) {

		.wrapper {
			padding: 4em 0 2em 0;
		}

	}

		

/* Cards */
  
  	.image-flip img{
    	border: solid 0.5em rgba(238, 195, 195, 0.5);
		border-radius: 100%;
  	}

	#two {
		background: #eee !important;
	}

	#two {
		padding: 60px 0;
	}


	#two .card {
		border: none;
		background: #ffffff;
	}


	.image-flip:hover .backside,.image-flip.hover .backside {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-o-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
		border-radius: .25rem;
	}

	.image-flip:hover .frontside,.image-flip.hover .frontside {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

	.mainflip {
		-webkit-transition: 1s;
		-webkit-transform-style: preserve-3d;
		-ms-transition: 1s;
		-moz-transition: 1s;
		-moz-transform: perspective(1000px);
		-moz-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		transition: 1s;
		transform-style: preserve-3d;
		position: relative;
	}

	.frontside {
		position: relative;
		-webkit-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		z-index: 2;
		margin-bottom: 30px;
	}

	.backside {
		position: absolute;
		top: 0;
		left: 0;
		background: white;
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
		-o-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
		-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
		-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
		box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	}

	.frontside,.backside {
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transition: 1s;
		-webkit-transform-style: preserve-3d;
		-moz-transition: 1s;
		-moz-transform-style: preserve-3d;
		-o-transition: 1s;
		-o-transform-style: preserve-3d;
		-ms-transition: 1s;
		-ms-transform-style: preserve-3d;
		transition: 1s;
		transform-style: preserve-3d;
	}

	.frontside .card,.backside .card {
		min-height: 320px;
	}

	.btn{
		background-color:rgba(238, 195, 195);
		border-color:rgba(194, 144, 144, 0.911);
	}

	.frontside .card .card-title,.backside .card .card-title {
		color: rgb(243, 172, 172) !important;
	}

	.frontside .card .card-body img {
		width: 120px;
		height: 120px;
		border-radius: 50%;
	}

/* Letter */
	#letter {
		background: linear-gradient(45deg, antiquewhite 25%, #fccfcf9c 75%);
		max-width: 900px;
		margin: auto;
	}
	
	.carousel-caption {
		position: initial;
		z-index: 10;
		padding: 5rem 5rem;
		color: rgba(78, 77, 77, 0.856);
		text-align: center;
		font-size: 1.2rem;
		font-style: italic;
		font-weight: bold;
		line-height: 2rem
	}

	.carousel-caption p{
		margin-left: 6rem;
		margin-right: 6rem; 
	}
	
	@media(max-width:980px) {
		.carousel-caption {
			position: initial;
			z-index: 10;
			padding: 2rem 2rem;
			color: rgba(78, 77, 77, 0.856);
			text-align: center;
			font-size: 0.7rem;
			font-style: italic;
			font-weight: bold;
			line-height: 1.5rem
		}

		.carousel-caption p{
			margin-left: 4rem;
			margin-right: 4rem; 
		}
	}

	@media(max-width:480px) {
		.carousel-caption p{
			margin-left: 2rem;
			margin-right: 2rem; 
			font-size: smaller;
		}

	}


	#image-caption{
		position: relative;
		text-align: right;
	}
	
	#image-caption img{
		width: 10rem;
		margin-top: -7rem;
	}
	
	@media(max-width:980px) {
		#image-caption img{
			width: 5rem;
			margin-top: -2rem;
		}

	}

	#three i {
		background-color: rgb(223, 56, 89);
		padding: 1.4rem
	}
	
	@media(max-width:980px) {
		i {
			padding: 0.8rem
		}
	}



/* Footer */
	#footer .icons {
		font-size: 1.5em;
		position: center;
		height: 20px;
	}

	#footer .icons li {
		padding-right: 1.5em;
	}

	#footer .icons li:last-child {
		padding-right: 0;
	}

	@media(max-width:480px) {
		#footer .icons li {
			padding-right: 0em;
		}
	}

	#footer .icons a {
		-moz-transition: color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out;
		color: #f32853;
		text-decoration: none;
	}

	#footer .icons a:active, #footer .icons a:hover {
		color: rgb(121, 9, 9);
	}


	/*for Galaxy S5 or smaller*/
	@media(max-width:360px) {
		.banner button{
			background-color: transparent;
			width: 6rem;
			height: 6rem;
			border-color: rgba(236, 228, 231, 0.5);
			border-width: 5px;
		}
	}

	/*for galaxy fold or smaller*/
	@media(max-width:280px) {
		.carousel-caption p{
			margin-left: 0rem;
			margin-right: 0rem; 
		}
		#footer .icons li {
			margin-right: -2rem;
			margin-left: -2rem;
			padding-right: 4rem;
		}
		.banner button{
			background-color: transparent;
			width: 6rem;
			height: 6rem;
			border-color: rgba(236, 228, 231, 0.5);
			border-width: 5px;
		}
	}

	